$BadVariable: none;

.avatar{
    border-radius:50%;
    border:2px solid white; }
.no, .nope, .not_good {
  border: none;
}
#lol-no {
  @extend .avatar;
  border: none;
}

// bad comment
.foo {
  border: none;
}
.bar { color : pink }
/*foobar*/
.page-container {
  .content {
    .profile {
      .toodeep {

      }
    }
  }
}

@media {}
